# Unity .gitignore

VR-Dementia/[Ll]ibrary/
VR-Dementia/[Tt]emp/
VR-Dementia/[Oo]bj/
VR-Dementia/[Bb]uild/
VR-Dementia/[Bb]uilds/
VR-Dementia/[Ll]ogs/
VR-Dementia/[Uu]ser[Ss]ettings/
VR-Dementia/.utmp/
*.log

# Blender
*.blend1
*.blend1.meta

# Captures
VR-Dementia/[Mm]emoryCaptures/
VR-Dementia/[Rr]ecordings/

# IDEs and Editors
VR-Dementia/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user
.vs/
.gradle/

# Project files (Recursive)
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# System/Crash
sysinfo.txt
mono_crash.*
crashlytics-build.properties

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Tests
InitTestScene*.unity*
VR-Dementia/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# Addressables
VR-Dementia/ServerData
VR-Dementia/[Aa]ssets/StreamingAssets/aa*
VR-Dementia/[Aa]ssets/AddressableAssetsData/link.xml*
VR-Dementia/[Aa]ssets/Addressables_Temp*
VR-Dementia/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
VR-Dementia/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
VR-Dementia/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
VR-Dementia/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
VR-Dementia/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta